.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: 3rem;
  color: aliceblue;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
  width: 200px;
  border-radius: 99vh;
  margin: 3px;
  background: #454646;
  color: #fff;
  font-size: 1.1rem;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-info {
  min-width: 400px;
  margin-left: 20px;
  min-height: 800px;
}
.game-board {
  min-height: 800px;
}

.text-bold {
  font-size: 1.3rem;
  font-weight: 900;
}

.btn-sort {
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 20px;
}

.winner-line {
  color: rgb(51, 185, 174);
}
